<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.sesoc.banggood.dao.CanvasDAO">   
	<insert id="save" parameterType="Canvas">
		INSERT INTO floorplan (datanum, 
		<if test = "property_no != 0">
		property_no,
		</if>
		scale, custid, saved_name, icons, lines, objects) 
		VALUES (seq_floorplan_datanum.nextval, 
		<if test = "property_no != 0">
		#{property_no}, 
		</if>
		#{scale}, #{custid}, #{saved_name}, #{icons}, #{lines}, #{objects})
	</insert>
	<select id="select" parameterType="Integer" resultType="Canvas">
		SELECT * FROM floorplan WHERE datanum = #{datanum}
	</select>
	<select id="selectUserDataList" parameterType="String" resultType="Map">
		SELECT datanum, saved_name FROM floorplan WHERE custid = #{custid}
	</select>
	<select id="loadCanvasForUpdate" parameterType="String" resultType="Canvas">
		SELECT * from floorplan where property_no = #{property_no}
	</select>
	<update id="updateCanvas" parameterType="Canvas">
		UPDATE floorplan 
		SET saved_name= #{saved_name}, icons= #{icons}, lines=#{lines}, objects=#{objects}
		WHERE datanum = #{datanum}
	</update>
</mapper>