<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.sesoc.banggood.dao.CustomerDAO">
	
	<!-- 회원가입 -->
 	<insert id="customer_insert" parameterType="Customer">
		insert into customer values(#{custid}, #{password}, #{email}, #{phone})
	</insert>
	
	<!-- 로그인 및 수정 전 검색 -->
	<select id="customer_select" resultType="Customer" parameterType="String">
		select * from customer where custid = #{custid}
	</select>
	
	<!-- 개인정보 수정 -->
	<update id="customer_update" parameterType="Customer">
		update customer set password = #{password}, phone = #{phone}
		where custid = #{custid}
	</update>
	
	<!-- 등록 목록 보기 -->
	<select id="see_myinsert" parameterType="String" resultType="Property_list">
		select
			pro.property_no property_no, pro.property_title property_title, 
			pro.rent_type rent_type, pro.property_inputdate property_inputdate,
			pro.property_hits property_hits, pro.reply_count reply_count, 
			pro.property_like property_like, pro.deposit deposit, pro.month_fee month_fee,
			pic.pic_name pic_name, pic.pic_savename pic_savename 
		from
			(select property_no, custid, property_title, rent_type, property_inputdate,
				property_hits, reply_count, property_like, deposit, month_fee		
				from property pro where custid = #{custid}) pro,		
			(select property_no, pic_name, pic_savename
				from picture where pic_division = 'flan') pic
		where pro.property_no = pic.property_no 
		and pro.custid = #{custid}
	</select>
	
	<!-- 장바구니 등록 -->
	<insert id="insert_cart" parameterType="map">
		insert into cart (cart_no, custid, property_no) 
		values(seq_cart_no.nextval, #{custid}, #{property_no})
	</insert>
	
	<!-- 장바구니 목록 보기 -->
	<select id="see_myCart" parameterType="String" resultType="Property_list">
		select
			pic_pro.property_no property_no, pic_pro.property_title property_title, 
			pic_pro.rent_type rent_type, pic_pro.custid custid, 
			pic_pro.property_inputdate property_inputdate,
			pic_pro.property_hits property_hits, pic_pro.reply_count reply_count, 
			pic_pro.property_like property_like, pic_pro.deposit deposit,
			pic_pro.month_fee month_fee,
			pic_pro.pic_name pic_name, pic_pro.pic_savename pic_savename 
		from
			(select cart_no, property_no
				from cart
				where custid = #{custid}) cart,		
			(select
				pro.property_no property_no, pro.property_title property_title, 
				pro.rent_type rent_type, pro.custid custid, 
				pro.property_inputdate property_inputdate,
				pro.property_hits property_hits, pro.reply_count reply_count, 
				pro.property_like property_like, pro.deposit deposit, pro.month_fee month_fee,
				pic.pic_name pic_name, pic.pic_savename pic_savename 
			from
				(select property_no, custid, property_title, rent_type, property_inputdate,
					property_hits, reply_count, property_like, deposit, month_fee		
					from property pro) pro,		
				(select property_no, pic_name, pic_savename
					from picture where pic_division = 'flan') pic 
			where pro.property_no = pic.property_no) pic_pro 
		where cart.property_no = pic_pro.property_no
	</select>
</mapper>