<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.sesoc.banggood.dao.PropertyDAO">
	
	<!-- 매물 기본 정보 삽입 -->
   <insert id="insert_property" parameterType="Property">
      insert into property
      (property_no, custid, rent_type, address, address_detail, building_name, 
      floor, property_type, deposit, month_fee, maintence_fee, built_year,
      roomsize, property_title, property_text)
      values 
      (seq_property_no.nextval, #{custid}, #{rent_type}, #{address}, 
      #{address_detail}, #{bulildingName}, #{floor}, #{property_type}, #{deposit}, 
      #{month_fee}, #{maintence_fee}, #{built_year}, #{roomsize},
      #{property_title}, #{property_text})   
   </insert>
   
   <!-- 가장 최근에 입력된 매물의 번호 가져오기 -->
   <select id="select_recently_property" resultType = "_int" >
      select p.property_no
      from (select * from property order by property_inputdate desc) p 
      where rownum = 1
   </select>
   
   <!-- 매물 옵션 내용 입력하기 -->
   <insert id="insert_option" parameterType="Option">
      insert into roomoption
      (property_no, pet, car, elevator, air_conditioner, fridge, washing_machine,
      gas_stove, electric_stove, microwave, desk, rack, bed, closet, shoecabinet,
      doorlock, wifi, total)
      values
      (#{property_no}, #{pet}, #{car}, #{elevator}, #{air_conditioner}, 
      #{fridge}, #{washing_machine}, #{gas_stove}, #{electric_stove}, 
      #{microwave}, #{desk}, #{rack}, #{bed}, #{closet}, #{shoecabinet},
      #{doorlock}, #{wifi}, #{total})   
   </insert>
   
   <!-- 매물 관리비 포함내역 입력하기 -->
   <insert id="insert_maintence" parameterType="Maintence">
      insert into maintence
      (property_no, internet, tvfee, cleaning, waterfee, gasfee, electronic)
      values (#{property_no}, #{internet}, #{tvfee}, 
      #{cleaning}, #{waterfee}, #{gasfee}, #{electronic})   
   </insert>   
  
   <!-- 매물 사진 입력하기 -->
   <insert id ="insert_picture" parameterType="Picture">
   	insert into picture
   	values
   	(seq_pic_room_no.nextval, #{property_no}, #{pic_division}, #{pic_name}, #{pic_savename})   
   </insert>
   
   <!-- 매물 게시 중단 -->
   <update id="stop_showing" parameterType="_int">
  	 update property set issoldout = 'false' where property_no = #{property_no}
   </update>
   
   <!-- 매물 게시 재시작 -->
   <update id="restart_showing" parameterType="_int">
  	 update property set issoldout = 'true' where property_no = #{property_no}
   </update>
   
   <!--  매물 기본정보 수정 -->
   <update id="update_property" parameterType="Property">
    update property set rent_type = #{property_no}, address = #{address}, 
    address_detail = #{address_detail}, building_name = #{building_name}, 
    floor = #{floor}, property_type = #{property_type}, deposit = #{deposit},
	month_fee = #{month_fee}, maintence_fee = #{maintence_fee}, built_year = #{built_year},
    roomsize = #{roomsize}, property_title = #{property_title},
    property_text = #{property_text}
    where property_no = #{property_no}
   </update>
   
   <!--  매물 옵션내용 수정 -->
   <update id="update_option" parameterType="Option">
   	update option set pet = #{pet}, car = #{car}, elevator = #{elevator}, 
   	air_conditioner = #{air_conditioner}, fridge = #{fridge},
   	washing_machine = #{washing_machine}, gas_stove = #{gas_stove},
   	electric_stove = #{electric_stove}, microwave = #{microwave}, 
    desk = #{desk}, rack = #{rack}, bed = #{bed}, 
    closet = #{closet}, shoecabinet = #{shoecabinet},
    doorlock = #{doorlock}, wifi = #{wifi}, total = #{total}
    where property_no = #{property_no}
   </update>
   
	<!--  매물 관리비내역 수정 -->
   <update id="update_maintence" parameterType="Maintence">
   	update maintence set internet = #{internet}, tvfee = #{tvfee},
   	cleaning = #{cleaning}, waterfee = #{waterfee},
   	gasfee = #{gasfee}, electronic = #{electronic} 	
   	where property_no = #{property_no}
   </update>
  
    <!--  매물 사진 수정 -->
   <update id="update_picture" parameterType="Picture">
   update picture set pic_division = #{pic_division}, 
   pic_name = #{pic_name}, pic_savename = #{pic_savename}
   where property_no = #{property_no}
   </update>
 
   <!--  매물 기본정보 보기 -->
   <select id="select_property_property" resultType="Property" parameterType="_int">
   	select * from property where property_no = #{property_no}
   </select>
   
   <!--  매물 옵션내용 보기 -->
   <select id="select_property_option" resultType="Option" parameterType="_int">
   	select * from roomoption where property_no = #{property_no}
   </select>
   
   <!--  매물 관리비내역 보기 -->
   <select id="select_property_maintence" resultType="Maintence" parameterType="_int">
    select * from maintence where property_no = #{property_no}
   </select>  
  
   <!--  매물 사진 보기 -->
   <select id="select_property_picture" resultType="Picture" parameterType="_int">
   	select * from picture where property_no = #{property_no}
   </select>
   
   <!--  보기 시 조회수 증가 -->
   <update id="add_property_hits" parameterType="_int">   
   	update property set property_hits = property_hits+1 where property_no = #{property_no}
   </update>   
   
   <!--  댓글 수 증가 -->
   <update id="add_reply_count" parameterType="_int">   
    update property set reply_count = reply_count+1 where property_no = #{property_no}
   </update> 
   
   <!-- 댓글 수 감소 -->  
   <update id="sub_reply_count" parameterType="_int">   
    update property set reply_count = reply_count-1 where property_no = #{property_no}
   </update>
   
   <!-- 주소내 모든 매물 검색 -->
   <select id="searchProperty" parameterType="Property_search"
      resultType="String">
      select pro.address
      from
      (select property_no, address from property
      where
      address like '%'||#{searchaddress}||'%'
      and (deposit between #{deposit1} and #{deposit2})
      and (month_fee between #{month_fee1} and #{month_fee2})
      and isaccessible = 'true'
      and issoldout = 'true'
      <if test="property_type != 'all'"> and property_type = #{property_type} </if>
      <if test="rent_type != 'all'"> and rent_type = #{rent_type} </if>
      <if test="floor != 0">
         <choose>
            <when test="floor == 1"> and (floor between 1 and 3) </when>
            <when test="floor == 4"> and (floor between 4 and 6) </when>
            <when test="floor == 7"> and (floor between 7 and 9) </when>
            <when test="floor == 10"> and floor >= 10 </when>
         </choose>
      </if>
      <if test="maintence_fee != 'all'"> and maintence_fee is null </if>
      <if test="newbuild != 'all'">and built_year > 2014</if>
      ) pro,
      (select property_no from roomoption
      where
      total >= 0 
      <if test="car != 0"> and car = #{car} </if>
      <if test="pet != 0"> and pet = #{pet} </if>
      <if test="elevator != 0"> and elevator = #{elevator} </if>
      <if test="air_conditioner != 0"> and air_conditioner = #{air_conditioner} </if>
      <if test="fridge != 0"> and fridge = #{fridge} </if>
      <if test="washing_machine != 0"> and washing_machine = #{washing_machine} </if>
      <if test="gas_stove != 0"> and gas_stove = #{gas_stove} </if>
      <if test="electric_stove != 0"> and electric_stove = #{electric_stove} </if>
      <if test="microwave != 0"> and microwave = #{microwave} </if>
      <if test="desk != 0"> and desk = #{desk} </if>
      <if test="rack != 0"> and rack = #{rack} </if>
      <if test="bed != 0"> and bed = #{bed} </if>
      <if test="closet != 0"> and closet = #{closet} </if>
      <if test="shoecabinet != 0"> and shoecabinet = #{shoecabinet} </if>
      <if test="doorlock != 0"> and doorlock = #{doorlock} </if>
      <if test="wifi != 0"> and wifi = #{wifi} </if>
      ) op
      where pro.property_no = op.property_no
   </select>

   <!-- 지도 마커 클릭시 매물 간단 정보 출력 -->
   <select id="readProperty_map" parameterType="String" resultType="Property_map">
      select pro.property_no property_no, pro.rent_type rent_type,
            pro.deposit deposit, pro.month_fee month_fee, pro.property_title property_title, 
           pic.pic_name pic_name, pic.pic_savename pic_savename
      from (select property_no, rent_type, deposit, month_fee, property_title
           from property
           where address||' '||address_detail like '%'||#{address}||'%') pro,
          (select property_no, pic_name, pic_savename 
           from picture
           where pic_division = 'main') pic 
      where pro.property_no = pic.property_no
   </select>

   <!-- 주소 자동검색을 위한 SQL -->
   <select id="getPosition" parameterType="String" resultType="String">
      select searchtext from position where searchtext like '%'||#{searchText}||'%'
   </select>

   <!-- 마을 중심좌표를 찾기위한 SQL -->
   <select id="get_town" parameterType="String" resultType="String">
      select
      position_address from position where searchtext = #{searchaddress}
   </select>

</mapper>
