<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="global.sesoc.banggood.dao.SearchBoardDAO">
 	
 	<!-- 게시글 등록 -->
 	<insert id="insert_searchBoard" parameterType="SearchBoard">
		insert into searchboard 
 		(searchboard_no, custid, email, searchboard_title, searchboard_text) 		
 		values
		(seq_searchboard_no.nextval, #{custid}, #{email}, #{searchBoard_title}, #{searchBoard_text})
 	</insert>
 	
 	<!-- 읽기 -->
 	<select id="get_searchBoard" parameterType="_int" resultType="SearchBoard">
 		select * from searchboard where searchboard_no = #{searchboard_no}
 	</select>
 	
 	<!-- 조회수 증가 -->
 	<update id="addHits" parameterType="_int">
 		update searchboard set searchboard_hits = searchboard_hits+1 where searchboard_no = #{searchBoard_no}
 	</update>
	
	<!-- 게시글 갯수 조회 -->
	<select id="getCount" resultType="_int" parameterType="map">
			select count(*) from searchboard
	<if test = "searchTitle != null and searchText != null">
		<choose>
		<when test = "searchTitle == 'title'">
			where searchboard_title like '%'||#{searchText}||'%'
		</when>
		<when test = "searchTitle == 'title-text'">
			where searchboard_title like '%'||#{searchText}||'%'
			or searchboard_text like '%'||#{searchText}||'%'
		</when>
		<when test = "searchTitle == 'custid'">
			where custid like '%'||#{searchText}||'%'
		</when>
		</choose>
    </if>
	</select>
	
	<!-- 전체 글 조회 -->
	<select id="list_searchBoard" resultType="SearchBoard" parameterType="map">	
	select *
		from (select rownum r, board.*	
 		from (select searchboard_no, custid, email, searchboard_title, searchboard_text,
 		case
			when to_char(searchboard.searchboard_inputdate,'YY-MM-DD') = to_char(sysdate, 'YY-MM-DD') 
			then to_char(searchboard.searchboard_inputdate,'HH24:MI:SS') 
			else to_char(searchboard.searchboard_inputdate,'YY-MM-DD') 
		end as searchboard_inputdate, searchboard_hits, searchboard_reply 
 		from searchboard
   			 <if test = "searchTitle != null and searchText != null">
					<choose>
						<when test = "searchTitle == 'title'">
							where searchboard_title like '%'||#{searchText}||'%'
						</when>
						<when test = "searchTitle == 'title-text'">
							where searchboard_title like '%'||#{searchText}||'%'
							or searchboard_text like '%'||#{searchText}||'%'
						</when>
						<when test = "searchTitle == 'custid'">
							where custid like '%'||#{searchText}||'%'
						</when>
					</choose>
   			 </if>
  		order by searchboard_no desc) board
   	 ) where r between #{firstText} and #{lastText}  
	</select>
	
	<!-- 수정 -->
	<update id="update_searchBoard" parameterType="SearchBoard">
		update searchboard
		set	searchboard_title = #{searchBoard_title}, 
		searchboard_text = #{searchBoard_text}
		where searchboard_no = #{searchBoard_no}
	</update>
	
	<!-- 삭제 -->
	<delete id="delete_searchBoard" parameterType="_int">
		delete searchboard where searchboard_no = #{searcBboard_no}
	</delete>
	
	<!-- 댓글입력 -->
	<insert id = "insert_searchReply" parameterType="SearchReply">
		insert into searchreply
		(searchreply_no, searchboard_no, custid, searchreply_text)
		values (seq_searchreply_no.nextval, #{searchBoard_no}, #{custid}, #{searchReply_text})
	</insert>
	
	<!-- 댓글 리스트 출력 -->
	<select id = "getList_searchReply" resultType="SearchReply" parameterType="_int">
	 	select searchreply_no, searchboard_no, custid, searchreply_text, 
	 	case
			when to_char(searchreply.searchreply_inputdate,'YY-MM-DD') = to_char(sysdate, 'YY-MM-DD') 
			then to_char(searchreply.searchreply_inputdate,'HH24:MI:SS') 
			else to_char(searchreply.searchreply_inputdate,'YY-MM-DD') 
		end as searchreply_inputdate
	 	from searchreply where searchboard_no = #{searchBoard_no}
	 	order by searchreply_no desc
	</select>

	<!-- 댓글 삭제 -->
	<delete id = "delete_searchReply" parameterType="_int">
		delete searchreply where searchreply_no = #{searchReply_no}
	</delete>
	
	<!-- 수정 전 댓글 호출 -->
	<select id = "select_searchReply" parameterType="_int" resultType="SearchReply">
		select * from searchreply where searchReply_no = #{searchReply_no}
	</select>
	
	<!-- 댓글 수정 -->
	<update id = "update_searchReply" parameterType = "SearchReply">
		update searchreply set
		searchreply_text = #{searchreply_text}
		where searchReply_no = #{searchReply_no}
	</update>
	
	<!-- 댓글 갯수 증가 -->
	<update id="addReplyCount" parameterType="_int">
 		update searchboard set searchboard_reply = searchboard_reply+1 where searchboard_no = #{searchBoard_no}
 	</update>
 	
 	<!-- 댓글 갯수 감소 -->
	<update id="subReplyCount" parameterType="_int">
 		update searchboard set searchboard_reply = searchboard_reply-1 where searchboard_no = #{searchBoard_no}
 	</update>
		
</mapper>