input[type=radio],input[type=checkbox] {
  display: none;
}

/**
 * How it should look when hovered
 */
.active-label, label:focus, label:hover, label:active, input:checked + label {
  color: #f7be22;
}
.active-label:before, label:focus:before, label:hover:before, label:active:before, input:checked + label:before {
  background: white;
  border-color: #f7be22;
}

label {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  display: block;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  whitespace: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  /**
   * This is the radio fake dot basically
   */
}
label:first-of-type {
  border: 0;
}
label:before {
  content: "";
    position: absolute;
    left: 23px;
    top: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: .2rem solid #ccc;
}

