/* main */

.main_head {
	position: relative;
}
.main_head:after {
	width: 70px;
  height: 10px;
  position: absolute;
  background: #f7b70b;
  content: "";
  top: 100px;
  left: 50%;
  margin-left: -35px;
}

.main_name {
	color: #f7b70b;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

.main_title {
	color: #000;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: bold;
}

.main_text {
	color: #999;
	font-size: 16px;
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.Carousel {
	width: 100%;
}

.item {
	width: 100%;
	height: 370px;
	background-color: #fff;
}

.item h1 {
	line-height: 400px;
	text-align: center;
	font-size: 40px;
	color: white;
}

.floor_title {
	text-transform: uppercase;
	color: #333;
	font-weight: bold;
	font-size: 26px;
	padding-top: 5px;
}

.floor_sub {
	font-size: 16px;
}

.floor_text {
	color: #333;
	opacity: 0.8;
	font-size: 16px;
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.floor-lg {
	padding-top: 25px;
	padding-bottom: 25px;
}

.owl-prev {
	display: block;
	width: 10px;
	height: 10px;
	background-color: red;
	z-index: 9999;
}
/* search board */
.searchboard_title {
	text-align: center;
	position: relative;
	background: url(../img/bg/30.jpg) no-repeat center;
}

.searchboard_title2 {
	text-align: center;
	position: relative;
	background: url(../img/bg/25.jpg) no-repeat center;
}

.searchboard_title-in {
	padding: 80px 0;
	position: relative;
}

.searchboard_title-in h1 {
	color: #333;
	text-transform: uppercase;
}
/* mypage button */
.mypage_btn {
	background-color: #fff;
	color: #333;
	width: 80px;
	border: 1px solid #f7be22;
	margin-bottom: 5px;
}

.mypage_btn:hover {
	background-color: #f7be22;
	color: #fff;
}

.mypage_modify_btn {
	width: 300px;
	margin: auto;
	background-color: #f7be22;
	color: #fff;
	margin-top:20px;
}
/* insert_property */
.insert_head {
	position: relative;
}
.insert_head:after {
  width: 139px;
  height: 2px;
  position: absolute;
  background: #f7b70b;
  content: "";
  top: 50px;
  left: 50%;
  margin-left: -35px;
}

.insert_name {
	color: #f7b70b;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

.insert_title {
	color: #000;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: bold;
}

.insert_text {
	color: #999;
	font-size: 16px;
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.insert_box_bg{
	background: url(../img/bg/13.jpg) no-repeat;
}
/* message */ 
.message_bg{
	color:#fff;
	background: #f7b70b;
	font-size: 18px;
	font-weight: bold;
	padding:10px;
}