<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 	<typeAliases>
 		<typeAlias type="global.sesoc.banggood.vo.Customer" alias="Customer"/>
 		<typeAlias type="global.sesoc.banggood.vo.Message" alias="Message"/>
 		<typeAlias type="global.sesoc.banggood.vo.Property" alias="Property"/>
 		<typeAlias type="global.sesoc.banggood.vo.Picture" alias="Picture"/>
 		<typeAlias type="global.sesoc.banggood.vo.Option" alias="Option"/>
 		<typeAlias type="global.sesoc.banggood.vo.Maintence" alias="Maintence"/>
 		<typeAlias type="global.sesoc.banggood.vo.SearchBoard" alias="SearchBoard"/>
 		<typeAlias type="global.sesoc.banggood.vo.SearchReply" alias="SearchReply"/>
 		<typeAlias type="global.sesoc.banggood.vo.Property_map" alias="Property_map"/>
 		<typeAlias type="global.sesoc.banggood.vo.Property_list" alias="Property_list"/>
 		<typeAlias type="global.sesoc.banggood.vo.Property_search" alias="Property_search"/>
 		<typeAlias type="global.sesoc.banggood.vo.propertyReply" alias="propertyReply"/>
 		<typeAlias type="global.sesoc.banggood.vo.RadarChart" alias="RadarChart"/>
 		<typeAlias type="global.sesoc.banggood.vo.Canvas" alias="Canvas"/>
 	</typeAliases>
  <mappers>
    <mapper resource="mappers/CustomerMapper.xml"/>
    <mapper resource="mappers/MessageMapper.xml"/>
    <mapper resource="mappers/PropertyMapper.xml"/>
    <mapper resource="mappers/SearchBoardMapper.xml"/>
    <mapper resource="mappers/radarChartMapper.xml"/>
    <mapper resource="mappers/canvasMapper.xml"/>
    <mapper resource="mappers/AdminMapper.xml"/>
  </mappers>
</configuration>
